header {
    height: 64px;
    width: 100%;
    background-color: white;
    position: fixed;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner {
    height: 38px;
    width: auto;
}

.header-links {
    padding-right: 24px;
    display: flex;
    text-decoration: none;
}

.bootleg {
    font-weight: 700;
    display: flex;
    margin-right: auto;
}

.academy-logo {
    color: gray;
}

.header-links a {
    text-decoration: none;
    color: black;
    margin: 16px;
}


