header {
    margin-top: 0px;
    height: 64px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.banner {
    height: 38px;
    width: auto;
}

.header-links {
    padding-right: 24px;
    display: flex;
    text-decoration: none;
}

.bootleg {
    font-weight: 700;
    display: flex;
    margin-right: auto;
}

.academy-logo {
    color: gray;
}

.header-links a {
    text-decoration: none;
    color: black;
    margin: 16px;
}

.main {
    padding-top: 65px;
}

.section-1 {
    display: flex;
    width: 100%;
    background-color: rgb(233, 231, 231);
} 

.section-1 img {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-1-text {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 100px;
}

.section-1-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(58, 56, 56);
}

.section-1-text p {
    font-size: 30px;
    color: rgb(58, 56, 56);
}

.section-1-text a {
    font-size: 20px;
    border: 1px solid grey;
    padding: 8px 130px;
    background-color: rgb(58, 56, 56);
    text-decoration: none;
    color: white;
}









